{% extends "admin/change_form.html" %}

{% block field_sets %}
{% if create %}

{% if status %}
    {% if not paid %}
    <input type="button" value="Одобрить" onclick="Approove({{id}},{{send}})" class="default" name="send" style="width:100%">
    {% else %}
    <input type="button" value="Одобрено" disabled onclick="Approove({{id}},{{send}})" class="default" name="send" style="width:100%">
    {% endif %}
{% else %}
    {% if not paid %}
    <input type="button" value="Оплатить" onclick="Approove({{id}},{{send}})" class="default" name="send" style="width:100%">
    {% else %}
    <input type="button" value="Оплачено" disabled onclick="Approove({{id}},{{send}})" class="default" name="send" style="width:100%">
    {% endif %}
{% endif %}
{% endif %}

{{ block.super }}

<script>
  function Approove(data,status) {
    let url = document.location.href.split('/').slice(0,3).join('/')
    fetch(`${url}/api/post/update/${data}/${status}/`).then((e) => {
      window.location.href = `${url}/admin/index/posts/`
    })
  }
  if('{{create}}' == 'False') {
    document.querySelector('.field-theBest').style.display = 'none'
  }else{
    if('{{status}}' == 'False') {
      document.querySelector('.field-theBest').style.display = 'none'
    }
  }

</script>
<p>Чтобы вставить ссылку в ваш пост вы должны взять эту строку </br><plaintext><a href="ВАША ССЫЛКА">ТЕКСТ КОТОРЫЙ БУДЕТ ВЕСТИ ПО ССЫЛКЕ</a> </plaintext><br>
  и заменить "ВАША ССЫЛКА" на вашу ссылку, "ТЕКСТ КОТОРЫЙ БУДЕТ ВЕСТИ ПО ССЫЛКЕ" на ваш текст
 </p>
{% endblock %}