{% extends "admin/change_form.html" %}

{% block field_sets %}

<div>
  <h4>Чтобы вставить ссылку в ваш пост вы должны взять эту строку</h4>
  </br>
  <code>
  &lt;a href="ВАША ССЫЛКА"&gt;ТЕКСТ КОТОРЫЙ БУДЕТ ВЕСТИ ПО ССЫЛКЕ&lt;/a&gt; 
  </code>
  <br>
  <h5>
  и заменить "ВАША ССЫЛКА" на вашу ссылку, "ТЕКСТ КОТОРЫЙ БУДЕТ ВЕСТИ ПО ССЫЛКЕ" на ваш текст
  </h5>
  </br>
</div>

{% if create %}
{% if status %}
    {% if not paid %}
    <input type="button" value="Одобрить" onclick="Approove({{id}},{{send}})" class="default" name="send" style="width:100%">
    {% else %}
    <input type="button" value="Одобрено" disabled onclick="Approove({{id}},{{send}})" class="default" name="send" style="width:100%">
    {% endif %}
{% else %}
    {% if not paid %}
    <a href="https://t.me/KulikovVladimir">Чтобы оплатить пост свяжитесь с владельцем</a>
    {% else %}
    <h3>Пост одобрен</h3>
    {% endif %}
{% endif %}
{% endif %}

{{ block.super }}

<script>
  function Approove(data,status) {
    let url = document.location.href.split('/').slice(0,3).join('/')
    fetch(`${url}/api/post/update/${data}/${status}/`).then((e) => {
      window.location.href = `${url}/admin/index/posts/`
    })
  }
  if('{{create}}' == 'False') {
    document.querySelector('.field-theBest').style.display = 'none'
  }else{
    if('{{status}}' == 'False') {
      document.querySelector('.field-theBest').style.display = 'none'
    }
  }

</script>

{% endblock %}